@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2000ms;
}

.right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
    transition: all 2000ms;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.music{
    position: absolute;
    margin-left: 94vw;
    margin-top: 4vh;
}

.full-screen{
    position: absolute;
    margin-left: 90vw;
    margin-top: 4vh;
}

.full-screen img{
    height: 50px;
    max-width: 50px;
}

.music img{
    height: 50px;
    max-width: 50px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.main h1{
    font-size: 72px;
    color: white;
    margin-bottom: 6vh;
    margin-right: 5vw;
    font-family: cursive;
    font-style: italic;
    letter-spacing: 5px;
}

.main img{
    width: 10vw;margin-bottom: 8vh;
    margin-right: 5vw;
}

.main img:hover{
    transform: scale(1.2);
    transition: 500ms;
    cursor: pointer;
}
.board-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Move it down */
    margin-left: -50px; /* Move it left */
}

.monkey-board {
    width: 400px; /* Adjust size */
    height: auto;
}

/*===============================================================Page 02==================================================================*/
.container-rule1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.rule1-box1{
    height: 75%;
    width: 70%;
    background-color: #FFFFFF;
    border: 15px solid #0DF725;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rule1-box1 h1{
    font-size: 62px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(136, 3, 3);
}

.rule1-inside{
    background-color: #FFF7F7;
    width: 80%;
    height: 50%;
    margin-top: 5vh;
    border: 10px solid #FFF065;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.rule1-inside h1{
    font-size: 42px;
    margin-left: 2vw;
    margin-top: 2vh;
    color: #D90000;
}

.rule1-inside p{
    margin-top: 4vh;
    margin-left: 2vw;
    font-size: 30px;
    line-height: 45px;
    font-weight: 550;
}

.rule1-box1 img{
    width: 5vw;
    margin-top: 2vh;
    margin-left: 55vw;
}

.rule1-box1 img:hover{
    transform: scale(1.3);
    transition: 500ms;
    cursor: pointer;
}

/*============================================================Page 03===================================================================*/
.container-rule2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/slotopaint-gamedesign-background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/*==============================================================Page 04===================================================================*/
.container-rule3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/slotopaint-gamedesign-wild-jungle-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/*================================================================Start up===================================================================*/
.start-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../images/alex-cruz-snakedetail-clay.jpg");
    background-size: cover;
}

.wish{
    background-color: #254605;
    border-radius: 25px;
}

.wish h1{
    font-size: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 20px;
}

.start-up img{
    margin-top: 25vh;
    width: 300px;
    margin-left: 120%;
}

.start-up img:hover{
    transform: scale(1.3);
    transition: 500ms;
    cursor: pointer;
}


/*============================================================Login Page==============================================================*/
.login-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../images/pngtree-cartoon-game-interface-forest-jungle-picture-image_1821010.jpg");
    background-size: cover;
}

.container-login{
    height: 70%;
    width: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8cb;
    border: 9px solid rgb(52, 242, 0);
    gap: 15vw;
    border-radius: 25px;
}

.login_topic img{
    width: 400px;
}

.container-login button{
    background-color: #008f0e;
    border: none;
    width: 10vw;
}

.container-login button:hover{
    background-color: #000000;
    color: #FFFFFF;
    transform: scale(1.1);
    transition: 500ms;
}

.register-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../images/slotopaint-gamedesign-wild-jungle-background.jpg");
    background-size: cover;
}

.container-register{
    height: 70%;
    width: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8cb;
    border: 9px solid rgb(52, 242, 0);
    gap: 10vw;
    border-radius: 25px;
}

.container-register button{
    background-color: #008f0e;
    border: none;
    width: 10vw;
}

.container-register button:hover{
    background-color: #000000;
    color: #FFFFFF;
    transform: scale(1.1);
    transition: 500ms;
}

.mb-3 a{
    text-decoration: none;
    color: #008f0e;
}


/*==================================================================Game GUI===============================================================*/
.container-GUI{
    background-image: url("../images/jungle.gif");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #000000;
}

.game{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 60%;
    background-color: black;
    margin-top: 8vh;
    border-radius: 25px;
    border: 10px solid rgb(69, 252, 18);
}

.score-live h1{
    font-size: 42px;
    color: #FFF7F7;
}

.hearts{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.hearts img{
    height: auto;
    width: 60px;
}

.timer h1{
    font-size: 42px;
    color: #FFF7F7;
}

.answer{
    width: 40vw;
    height: 10vh;
    background-color: #000000;
    margin-top: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(69, 252, 18);
}

.answer label{
    color: white;
    font-size: 42px;
    font-weight: 700;
}

.answer input{
    width: 3vw;
    height: 6vh;
    font-size: 32px;
}

.answer button{
    width: 8vw;
    height: 5vh;
    font-size: 24px;
    border-radius: 12px;
}

.answer button:hover{
    transform: scale(1.2);
    transition: 500ms;
    background-color: rgb(69, 252, 18);
    color: #000000;
    border-radius: 12px;
}

#note{
    font-size: 32px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

/*==============================================================Game Over==================================================*/
.container-over{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/gameover.gif");
    height: 100vh;
    background-size: cover;
}

.gemeover-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 60%;
    background-color: #b8a97f;
    height: 70%;
    width: 100%;
    border-radius: 25px;
    border: solid 5px black;
}

.over-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;
    width: 100%;
    height: 20%;
    border-radius: 25px;
}

.return:hover{
    transform: scale(1.1);
    transition: 100ms;
}

.home:hover{
    transform: scale(1.1);
    transition: 100ms;
}

.quit:hover{
    transform: scale(1.1);
    transition: 100ms;
}

/*============================================================Score Board==================================================================*/
.score-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/score.gif");
    background-size: cover;
}

.scoreboard-outer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 60%;
    background-color: #fff8cb;
    border: solid 9px rgb(133, 235, 16);
    border-radius: 25px;
}

.scoreboard-topic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.scoreboard-topic img{
    width: 40%;
}

.score-first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:5px solid;
    border-bottom-style: dashed;
    width: 100%;
    height: 100%;
}

.score-first img{
    width: 5%;
}

.score-second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:5px solid;
    border-bottom-style: dashed;
    width: 100%;
    height: 100%;
}

.score-second img{
    width: 5%;
}

.score-third{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.score-third img{
    width: 5%;
}

.score-button{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

#heart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}